* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "helvetica neue", "helvetica", "arial", sans-serif;
    font-size-adjust: none;
    direction: ltr;
    line-height: 1.5;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background: #f8f8f8;
    color: #43555E;
    margin: 0;
    position: relative;
    width: 100%;
}

a {
    color: #2085C4;
    text-decoration: underline;
}

.o-wrap {
    max-width: 100%;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

.o-box {
    padding: 32px 64px;
}

.s-main-content {
    background: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.s-main-content p {
   margin-top: 0;
}


.s-main-content h1 {
    font-size: 44px;
    color: #2085C4;
    margin-top: 0;
    margin-bottom: 16px;
}

.s-main-content h2 {
    font-size: 27px;
    color: #2085C4;
    border-bottom: 1px solid #2085C4;
    padding: 3px 0;
    margin-bottom: 24px;
}

.s-main-content h3 {
    font-size: 24px;
    color: #2085C4;
    margin-bottom: 0;
}

.s-main-content h4 {
    font-size: 16px;
    margin-bottom: 0;
}

.s-main-content > p:first-of-type {
    font-size: 18px;
}

.s-main-content ul li {
    margin-bottom: 8px;
}

.s-main-content > blockquote:nth-child(2) {
    margin-bottom: 32px;
}

blockquote {
    position: relative;
    quotes: "\\201C " "\\201D ";
    padding: 16px 16px 16px 24px;
    margin-bottom: 16px;
    font-size: 12px;
    border-left: 3px solid #2085C4;
    background: #F1FAFF;
}

blockquote p {
    font-size: 16px;
    margin-bottom: 0;
}

pre {
    background: #F0F0EE;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    padding: 5px 10px;
}


dl {
    margin-left: 32px;
}

dd {
    margin: 0px 0px 16px 32px;
}

dt {
    margin: 0px 0px 8px 0px;
    font-weight: bold;
}


code {
    font-size: 14px;
    background: #EDEDED;
    padding: 2px 6px;
    border-radius: 4px;
    margin-bottom: 16px;
}

p code, dd code {
    border: 1px solid #cecece;
}

#showTestsContainer {
    float: right;
    text-align: right;
}

span.test {
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
    font-weight: bold;
}

.legend {
    display: none;
}

body.tests .legend {
    display: block;
}

body.tests .key {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

body.tests .key.test.integration {
    background: #433478;
}

body.tests .key.test.unit {
    background: #749F39;
}

body.tests .key.behaviour {
    background: #AE673E;
}

body.tests ul {
    list-style: none;
}

body.tests li.test {
    border-left: 3px solid #749F39;
    padding-left: 3px;
}

body.tests li.test.ui {
    border-left-color: #AE673E;
}

body.tests li.test.integration {
    border-left-color: #433478;
}

body.tests li.test:before {
    margin-left: -40px;
    margin-right: 20px;
    display: inline-block;
    content: '\25A1';
    padding-top: 2px;
    width: 20px;
    text-align:center;
    height: 22px;
    background: grey;
    color: white;
    border-radius: 3px;
}

body.tests li.test.ui:before {
    content: '';
    background: none;
}


body.tests li.todo:before {
    content: '\2716';
    background: grey;
    color: white;
    border-radius: 3px;
}


body.tests li.failed:before {
    content: '\2716';
    background: #DD2727;
    color: white;
    border-radius: 3px;
}

body.tests li.passed:before {
    content: '\2713';
    background: #749F39;
    color: white;
    border-radius: 3px;
}

body.tests li.integration.passed:before {
    content: '\2713';
    background: #433478;
    color: white;
    border-radius: 3px;
}

li.test span.test {
    display: none;
}

body.tests li.test span.test {
    font-size: 70%;
    font-weight: normal;
    display: inline-block;
    background: #E1E1E1;
    border: 1px dashed #999;
    padding: 2px 4px;
}

body.tests li.test span.test.todo {
    display: none;
}

body.tests li.passed span.test {
    background: #cae8ab;
}

body.tests li.passed span.integration.test {
    background: #d3cee7;
}

h1 span.glossary, h2 span.glossary, h3 span.glossary, h4 span.glossary,h5 span.glossary {
    border-bottom: 0;
}

span.glossary {
    border-bottom: 1px dashed;
}

pre code {
    display: block;
    margin-bottom: 0;
}